
@font-face {
    font-family: 'MPlusBold';
    src: url('./fonts/MPlusBold.ttf');
}

@font-face {
    font-family: 'MPlusRegular';
    src: url('./fonts/MPLUSRegular.ttf');
}

.Text
{
    font-family: 'MPlusRegular', sans-serif;
    font-size: 20pt;
    color: white;
}
